<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/cars.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <main>
        <nav>
            <a href="/dashboard"><img src="../static/Icons/home.png" class="nav_icons"></a>
            <a href="/cars">
                <img src="{% if active_page == 'cars' %}../static/Icons/car_selected.png{% else %}../static/Icons/car.png{% endif %}" class="nav_icons">
            </a>
            <a href="/motorcycles">
                <img src="{% if active_page == 'motorcycles' %}../static/Icons/motor_selected.png{% else %}../static/Icons/motor.png{% endif %}" class="nav_icons">
            </a>
            <a href="/public">
                <img src="{% if active_page == 'public' %}../static/Icons/bus_selected.png{% else %}../static/Icons/bus.png{% endif %}" class="nav_icons">
            </a>
            <a href="/settings"><img src="../static/Icons/settings.png" class="nav_icons"></a>
        </nav>

        <div class="container">
            <h1>{{ title }}</h1>
            <hr>
            <form method="get" action="">
                <label for="filter_date">Filter by Date:</label>
                <input type="date" id="filter_date" name="filter_date"
                       value="{{ selected_date }}" required>
                <button type="submit">Filter</button>
            </form>
            
            <div class="gallery">
                {% if grouped_images %}
                    {% for time, images in grouped_images.items() %}
                        <h3>{{ time }}</h3>
                        <div class="image-group">
                            {% for image in images %}
                                <img src="{{ url_for('serve_intrusion_image', subpath=image) }}" alt="Intrusion Image">
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No intrusions found for this date.</p>
                {% endif %}
            </div>       
        </div>
    </main>
</body>
</html>
